<section class="min-h-screen text-white flex items-center justify-center px-6 my-10">
  <div class="w-full max-w-md">
    <!-- Heading -->
    <h1 class="text-4xl md:text-5xl font-extrabold mb-3">Login Form</h1>

    <p class="text-gray-400 mb-8">
      Email: admin@gmail.com <br />
      password: 123456
    </p>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-5">
      <!-- Email -->
      <input
        type="email"
        formControlName="email"
        placeholder="Enter Email"
        class="w-full px-5 py-4 rounded-2xl bg-[#111827] border border-purple-500/20 focus:outline-none focus:border-purple-500"
      />

      <!-- Email Error -->
      <p
        class="text-red-400 text-sm"
        *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid"
      >
        Valid email required
      </p>

      <!-- Password -->
      <input
        type="password"
        formControlName="password"
        placeholder="Enter Password"
        class="w-full px-5 py-4 rounded-2xl bg-[#111827] border border-purple-500/20 focus:outline-none focus:border-purple-500"
      />

      <!-- Password Error -->
      <p
        class="text-red-400 text-sm"
        *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"
      >
        Password must be 6+ characters
      </p>

      <!-- Button -->
      <button
        type="submit"
        class="w-full px-6 py-4 rounded-2xl bg-gradient-to-r from-purple-600 to-pink-500 font-semibold shadow-[0_0_30px_rgba(168,85,247,0.7)] hover:scale-105 transition-all duration-300"
      >
        Login
      </button>
    </form>
  </div>
</section>
